 #root{
   background-color:  hsl(217, 54%, 11%);
 }
 .card {
    background: hsl(216, 50%, 16%);
    transition: 0.3s;
    border-radius: 12px; /*12px rounded corners */
    width: 500px;
    height: 600px;
 }
     
.card img {
     border-radius: 5px 5px 0 0;
     width: 300px;
 }
 
.diamond img {
width: 50px;
}
